@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body {
    font-family: 'nanumSquare', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #333;
}

#timer {
    background-color: #eee;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 5px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#submitBtn {
    display: none; /* 기본적으로 숨김 */
}

#notice {
    color: red;
}

#answerInput {
    resize: vertical; /* 사용자가 수동으로 크기를 조정하지 못하도록 설정 */
    overflow-y: auto; /* 내용이 오버플로우되면 수직 스크롤 생성 */
    height: auto; /* 자동으로 늘어날 수 있도록 높이를 auto로 설정 */
    min-height: 250px; /* 최소 높이를 설정 (필요에 따라 조정 가능) */
}
p {
    white-space: pre-wrap;
}


